<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.OfficialTradeDao">
    <resultMap id="result_OfficialTrade_Map" type="com.changjiang.entity.OfficialTrade">
        <id column="OfficialTrade0" property="id" />
        <result column="OfficialTrade1" property="number" />
        <result column="OfficialTrade2" property="officialName" />
        <result column="OfficialTrade3" property="productName" />
        <result column="OfficialTrade4" property="alias" />
        <result column="OfficialTrade5" property="officialType" />
        <result column="OfficialTrade6" property="formerName" />
        <result column="OfficialTrade7" property="dbDesc" />
        <result column="OfficialTrade8" property="officialPrice" />
        <result column="OfficialTrade9" property="icon" />
        <result column="OfficialTrade10" property="video" />
        <result column="OfficialTrade11" property="statisticalCategories" />
        <result column="OfficialTrade12" property="rawMaterial" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="official_trade_Column">
        official_trade.id as OfficialTrade0
        ,official_trade.number as OfficialTrade1
        ,official_trade.official_name as OfficialTrade2
        ,official_trade.product_name as OfficialTrade3
        ,official_trade.alias as OfficialTrade4
        ,official_trade.official_type as OfficialTrade5
        ,official_trade.former_name as OfficialTrade6
        ,official_trade.db_desc as OfficialTrade7
        ,official_trade.official_price as OfficialTrade8
        ,official_trade.icon as OfficialTrade9
        ,official_trade.video as OfficialTrade10
        ,official_trade.statistical_categories as OfficialTrade11
        ,official_trade.raw_material as OfficialTrade12
    </sql>

    <select id="getOfficialTradeRowCount" parameterType="com.changjiang.common.Assist" resultType="java.lang.Long">
        select count(id) from official_trade
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectOfficialTrade" parameterType="com.changjiang.common.Assist"  resultMap="result_OfficialTrade_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="official_trade_Column" /> 
            </otherwise>
        </choose>
        from official_trade
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectOfficialTradeById" parameterType="java.lang.Integer" resultMap="result_OfficialTrade_Map">
        select 
            <include refid="official_trade_Column" /> 
        from official_trade
        where official_trade.id = #{id}
    </select> 


    <insert id="insertOfficialTrade" parameterType="com.changjiang.entity.OfficialTrade">
        insert into official_trade(id,number,official_name,product_name,alias,official_type,former_name,db_desc,official_price,icon,video,statistical_categories,raw_material) 
        values(#{id},#{number},#{officialName},#{productName},#{alias},#{officialType},#{formerName},#{dbDesc},#{officialPrice},#{icon},#{video},#{statisticalCategories},#{rawMaterial})
    </insert>

    <insert id="insertNonEmptyOfficialTrade" parameterType="com.changjiang.entity.OfficialTrade">
        insert into official_trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="number != null">number,</if>
            <if test="officialName != null">official_name,</if>
            <if test="productName != null">product_name,</if>
            <if test="alias != null">alias,</if>
            <if test="officialType != null">official_type,</if>
            <if test="formerName != null">former_name,</if>
            <if test="dbDesc != null">db_desc,</if>
            <if test="officialPrice != null">official_price,</if>
            <if test="icon != null">icon,</if>
            <if test="video != null">video,</if>
            <if test="statisticalCategories != null">statistical_categories,</if>
            <if test="rawMaterial != null">raw_material,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="number != null"> #{number},</if>
            <if test="officialName != null"> #{officialName},</if>
            <if test="productName != null"> #{productName},</if>
            <if test="alias != null"> #{alias},</if>
            <if test="officialType != null"> #{officialType},</if>
            <if test="formerName != null"> #{formerName},</if>
            <if test="dbDesc != null"> #{dbDesc},</if>
            <if test="officialPrice != null"> #{officialPrice},</if>
            <if test="icon != null"> #{icon},</if>
            <if test="video != null"> #{video},</if>
            <if test="statisticalCategories != null"> #{statisticalCategories},</if>
            <if test="rawMaterial != null"> #{rawMaterial},</if>
        </trim>
    </insert>

    <delete id="deleteOfficialTradeById" parameterType="java.lang.Integer">
        delete from official_trade
        where id = #{id}
    </delete>

    <delete id="deleteOfficialTrade" parameterType="com.changjiang.common.Assist">
        delete from official_trade
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateOfficialTradeById" parameterType="com.changjiang.entity.OfficialTrade">
        update official_trade set
            number=#{number}
            ,official_name=#{officialName}
            ,product_name=#{productName}
            ,alias=#{alias}
            ,official_type=#{officialType}
            ,former_name=#{formerName}
            ,db_desc=#{dbDesc}
            ,official_price=#{officialPrice}
            ,icon=#{icon}
            ,video=#{video}
            ,statistical_categories=#{statisticalCategories}
            ,raw_material=#{rawMaterial}
        where id=#{id}
    </update>

    <update id="updateNonEmptyOfficialTradeById" parameterType="com.changjiang.entity.OfficialTrade">
        update official_trade
        <set>
            <if test="number != null">
                number=#{number},
            </if>
            <if test="officialName != null">
                official_name=#{officialName},
            </if>
            <if test="productName != null">
                product_name=#{productName},
            </if>
            <if test="alias != null">
                alias=#{alias},
            </if>
            <if test="officialType != null">
                official_type=#{officialType},
            </if>
            <if test="formerName != null">
                former_name=#{formerName},
            </if>
            <if test="dbDesc != null">
                db_desc=#{dbDesc},
            </if>
            <if test="officialPrice != null">
                official_price=#{officialPrice},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
            <if test="video != null">
                video=#{video},
            </if>
            <if test="statisticalCategories != null">
                statistical_categories=#{statisticalCategories},
            </if>
            <if test="rawMaterial != null">
                raw_material=#{rawMaterial},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateOfficialTrade" parameterType="map">
        update official_trade
        <set>
                id=#{enti.id},
                number=#{enti.number},
                official_name=#{enti.officialName},
                product_name=#{enti.productName},
                alias=#{enti.alias},
                official_type=#{enti.officialType},
                former_name=#{enti.formerName},
                db_desc=#{enti.dbDesc},
                official_price=#{enti.officialPrice},
                icon=#{enti.icon},
                video=#{enti.video},
                statistical_categories=#{enti.statisticalCategories},
                raw_material=#{enti.rawMaterial},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptyOfficialTrade" parameterType="map">
        update official_trade
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.number != null">
                number=#{enti.number},
            </if>
            <if test="enti.officialName != null">
                official_name=#{enti.officialName},
            </if>
            <if test="enti.productName != null">
                product_name=#{enti.productName},
            </if>
            <if test="enti.alias != null">
                alias=#{enti.alias},
            </if>
            <if test="enti.officialType != null">
                official_type=#{enti.officialType},
            </if>
            <if test="enti.formerName != null">
                former_name=#{enti.formerName},
            </if>
            <if test="enti.dbDesc != null">
                db_desc=#{enti.dbDesc},
            </if>
            <if test="enti.officialPrice != null">
                official_price=#{enti.officialPrice},
            </if>
            <if test="enti.icon != null">
                icon=#{enti.icon},
            </if>
            <if test="enti.video != null">
                video=#{enti.video},
            </if>
            <if test="enti.statisticalCategories != null">
                statistical_categories=#{enti.statisticalCategories},
            </if>
            <if test="enti.rawMaterial != null">
                raw_material=#{enti.rawMaterial},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>