<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        菜单管理
        <div class="note note-info">
            <h3>
                <span class="close" data-close="note"></span>
            </h3>
            <p>鼠标移动至菜单栏既可以对菜单栏进行修改</p>
        </div>
    </div>
    <!--ZTree，树形结构-->
    <div class="row">
        <div class="am-u-sm-8">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
</div>
<style type="text/css">
    .ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>